In [1]:
! pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

# 버스 정류장별 승하차 인원 정보

- https://data.seoul.go.kr/dataList/OA-12913/S/1/datasetView.do

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas.io.sql as pSql
import pandas as pd

In [3]:
df = pd.read_csv('2021_seoul_bus_onoff.csv', encoding='euc-kr')
df.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_1160\1111608417.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2021_seoul_bus_onoff.csv', encoding='euc-kr')

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,18,38,30,25,40,30,23,18,4,20210203
1,202101,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,82,79,63,68,64,43,52,11,10,20210203

In [4]:
df.columns

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '등록일자'],
      dtype='object')

In [5]:
new_cols = ['use_yyyymm','course_no', 'course_name',
            'std_bus_st_ID', 'bus_st_ARS_no', 'st_name',
       'pa_on00', 'pa_off_00',
       'pa_on01', 'pa_off_01',
       'pa_on02', 'pa_off_02',
       'pa_on03', 'pa_off_03',
       'pa_on04', 'pa_off_04',
       'pa_on05', 'pa_off_05',
       'pa_on06', 'pa_off_06',
       'pa_on07', 'pa_off_07',
       'pa_on08', 'pa_off_08',
       'pa_on09', 'pa_off_09',
       'pa_on10', 'pa_off_10',
       'pa_on11', 'pa_off_11',
       'pa_on12', 'pa_off_12',
       'pa_on13', 'pa_off_13',
       'pa_on14', 'pa_off_14',
       'pa_on15', 'pa_off_15',
       'pa_on16', 'pa_off_16',
       'pa_on17', 'pa_off_17',
       'pa_on18', 'pa_off_18',
       'pa_on19', 'pa_off_19',
       'pa_on20', 'pa_off_20',
       'pa_on21', 'pa_off_21',
       'pa_on22', 'pa_off_22',
       'pa_on23', 'pa_off_23',
       'regdate']

In [6]:
df.columns = new_cols

In [7]:
df.head(2)

,use_yyyymm,course_no,course_name,std_bus_st_ID,bus_st_ARS_no,st_name,pa_on00,pa_off_00,pa_on01,pa_off_01,...,pa_off_19,pa_on20,pa_off_20,pa_on21,pa_off_21,pa_on22,pa_off_22,pa_on23,pa_off_23,regdate
0,202101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,18,38,30,25,40,30,23,18,4,20210203
1,202101,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,82,79,63,68,64,43,52,11,10,20210203

In [14]:
# 연결
db_url = 'mysql+pymysql://root:1234@localhost:3306/bus_db'
db_url

'mysql+pymysql://root:1234@localhost:3306/bus_db'

In [15]:
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )

In [16]:
# 실연결
conn = engine.connect()

In [17]:
# 삽입
df.to_sql( name='tbl_seoul_bus_onoff', con=conn, if_exists='replace', index=True )

469361

In [18]:
# 해제
conn.close()

# 버스 정류정 위치 정보
- https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

In [19]:
seoul_bus_gps = pd.read_csv('2021_seoul_bus_gps.csv', encoding='euc-kr')
seoul_bus_gps.head(2)

       정류소ID  ARS-ID         정류소명         X좌표        Y좌표
0  100000001    1001      종로2가사거리  126.987750  37.569765
1  100000002    1002  창경궁.서울대학교병원  126.996566  37.579183

In [20]:
url_id_ori = 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84'
url_id = url_id_ori.format(126.987786, 37.569764)
url_id

'https://dapi.kakao.com/v2/local/geo/coord2address.json?x=126.987786&y=37.569764&input_coord=WGS84'

In [24]:
import os
import sys
import urllib.request
import json

request  = urllib.request.Request(url_id)
request.add_header("Authorization", 'KakaoAK %s' % '82c6f413d65ad92edc124fde4c179d4e')
response = urllib.request.urlopen(request)

rescode  = response.getcode()
print( rescode )

if(rescode==200):
    #response_body = response.read()
    tmp = json.load( response )
    #print(response_body.decode('utf-8'))
    print( tmp['documents'][0]['address']['address_name'] )
else:
    print("Error Code:" + rescode)

200
서울 종로구 종로2가 84-11

In [25]:
seoul_bus_gps.index[0], url_id_ori

(0,
 'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={}&y={}&input_coord=WGS84')

In [34]:
seoul_bus_gps.index

RangeIndex(start=0, stop=11703, step=1)

In [35]:
addrs = list()
for n in seoul_bus_gps.index:
  x = seoul_bus_gps.iloc[n, -2]
  y = seoul_bus_gps.iloc[n, -1]
  url_id = url_id_ori.format(x, y)
  #print(x, y, url_id)
  #if n==3:break
  request  = urllib.request.Request(url_id)
  request.add_header("Authorization", 'KakaoAK %s' % '82c6f413d65ad92edc124fde4c179d4e')
  response = urllib.request.urlopen(request)

  rescode  = response.getcode()
  if(rescode==200):
    #response_body = response.read()
    tmp = json.load( response )
    #print(response_body.decode('utf-8'))
     # 'documents' 키에 접근하여 첫 번째 요소([0])의 'address' 딕셔너리에 있는 'address_name' 키의 값을 출력합니다.
#     print( tmp['documents'][0]['address']['address_name'] )
    try:
      addrs.append( tmp['documents'][0]['address']['address_name'] )
    except Exception as e:
      addrs.append( '' )
  else:
    print("Error Code:" + rescode)
  #break

seoul_bus_gps[ 'addr' ] = addrs

In [36]:
seoul_bus_gps.head(2)

       정류소ID  ARS-ID         정류소명         X좌표        Y좌표               addr
0  100000001    1001      종로2가사거리  126.987750  37.569765  서울 종로구 종로2가 84-11
1  100000002    1002  창경궁.서울대학교병원  126.996566  37.579183   서울 종로구 연건동 28-19

In [45]:
# 연결
db_url = 'mysql+pymysql://root:1234@localhost:3306/bus_db'
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )
# 실연결
conn = engine.connect()
# 삽입
seoul_bus_gps.to_sql( name='tbl_seoul_bus_gps', con=conn, if_exists='replace', index=True )
# 해제
conn.close()

In [46]:
# 엑셀에 덤프
# na_rep='NaN'
seoul_bus_gps.to_csv('seoul_bus_gps.csv', sep='|', encoding='utf-8')
seoul_bus_gps.tail()

,정류소ID,ARS-ID,정류소명,X좌표,Y좌표,addr
11698,224001024,25997,하늘휴게소,126.855084,37.383010,경기 시흥시 조남동 193
11699,124000332,25997,조일약국,127.123596,37.533630,서울 강동구 성내동 127-1
11700,124000331,25998,성내시장,127.125497,37.536155,서울 강동구 성내동 38-3
11701,224001025,25998,하늘휴게소,126.855684,37.384525,경기 시흥시 조남동 산 17-6
11702,124000330,25999,천호우체국.로데오거리,127.127337,37.540343,서울 강동구 천호동 421-4

## [좌표로 주소 변환하기 개발 가이드](https://developers.kakao.com/docs/latest/ko/local/dev-guide)

In [1]:
# 카카오 디벨로퍼에서 사용하지 않는 '내애플리케이션’을 삭제하고 싶은데 어떻게 삭제할 수 있나요?
# 내 애플리케이션 > 지울 APP 클릭 > 기본정보 클릭 > 앱 삭제 [앱 영구 삭제] > 앱 이름 입력  > [삭제]

In [13]:
import pandas as pd
import requests

# 카카오 REST API 키 (자신의 API 키로 바꿔주세요)
api_key = '82c6f413d65ad92edc124fde4c179d4e'

# 입력 파일명과 출력 파일명
input_file = '서울시버스정류소위치정보(20230914).csv'
output_file = 'seoul_bus_gps.csv'

# 데이터프레임 불러오기
df = pd.read_csv(input_file, encoding='euc-kr')

# x좌표와 y좌표를 이용하여 주소 변환
def convert_to_address(x, y):
    url = f'https://dapi.kakao.com/v2/local/geo/coord2address.json?x={x}&y={y}'
    headers = {'Authorization': f'KakaoAK {api_key}'}
    response = requests.get(url, headers=headers)
    data = response.json()
    if data.get('documents'):
        return data['documents'][0]['address']['address_name']
    else:
        return None

# 주소 변환 함수를 적용하여 '주소' 컬럼 추가
df['주소'] = df.apply(lambda row: convert_to_address(row['X좌표'], row['Y좌표']), axis=1)

# 결과를 CSV 파일로 저장
df.to_csv(output_file, index=False, encoding='utf-8')

print('주소 변환이 완료되었습니다.')

주소 변환이 완료되었습니다.

## (좌표로 주소 변환하기)[https://developers.kakao.com/docs/latest/ko/local/dev-guide]
* REST API | Kakao Developers 문서

In [14]:
import pandas as pd

seoul_bus_gps = pd.read_csv('seoul_bus_gps.csv')
seoul_bus_gps.head()

     NODE_ID  ARS_ID           정류소명         X좌표        Y좌표                 주소
0  100000001    1001        종로2가사거리  126.987752  37.569808  서울 종로구 종로2가 84-11
1  100000002    1002    창경궁.서울대학교병원  126.996522  37.579433   서울 종로구 연건동 28-17
2  100000003    1003      명륜3가.성대입구  126.998251  37.582581  서울 종로구 명륜4가 196-2
3  100000004    1004       종로2가.삼일교  126.987613  37.568579     서울 종로구 관철동 268
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243      서울 종로구 혜화동 56

In [15]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

# 연결
db_url = 'mysql+pymysql://root:1234@localhost:3306/bus_db'
# 엔진생성(절차)
engine = create_engine( db_url, encoding='utf8' )
# 실연결
conn = engine.connect()
# 삽입
seoul_bus_gps.to_sql( name='tbl_seoul_bus_gps', con=conn, if_exists='replace', index=True )
# 해제
conn.close()

print(' table에 csv 파일이 저장 완료되었습니다.')

 table에 csv 파일이 저장 완료되었습니다.